* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* when using animations use this to avoid scrollbars!
                 body::-webkit-scrollbar {
                    display: none;
                  }
*/

::-webkit-scrollbar {
  width: 0.4375rem;
  height: 0.4375rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 rgb(0 0 0 / 30%);
}

::-webkit-scrollbar-thumb {
  background-color: #918476;
  border-radius: 1.25rem 7.75rem 1.25rem 7.75rem;
}
.container {
  max-width: 120rem;
  padding: 0rem 0.9375rem;
  width: 100%;
  margin: auto;
}

/* menu toggle burger bar */

/* cattos start */
.cattos {
  height: 100vh;
  z-index: 22;
  background: url(/Cattos.png) no-repeat #22577e;
  width: 100%;
  top: 0;
  background-size: cover;
  overflow: auto;
}

.cattos .slick-dots li.slick-active button:before {
  color: transparent;
  opacity: 1;
  background: #ffff;
}

.cattos .slick-dots li button:before {
  font-size: 0.8125rem;
}

.cattos .slick-dots li button:before {
  color: transparent;
  border: 0.125rem solid #fff;
  border-radius: 50%;
  height: 0.8125rem;
  width: 0.8125rem;
  opacity: 1;
}

.cattos .slick-dots {
  top: 11.375rem;
}

.cattos .slick-dots li {
  margin: 0 0.125rem;
}

/* ================================== Media-Queries ===================================== */

@media (max-width: 992px) {
  .cattos__logo {
    max-width: 230px;
    object-fit: contain;
  }
  .cattos__tab {
    width: 70px;
    margin: 0 6px;
  }
  .cattos__tab a {
    font-size: 0.8em;
  }
  .cattos__tab.cattos__tab--change {
    width: 168px;
  }
  .bar1,
  .bar2,
  .bar3 {
    width: 24px;
    height: 3px;
  }
  .cattos__title {
    font-size: 35px;
  }
  .cattos__detail {
    font-size: 1rem;
  }
  .cattos__number {
    font-size: 2rem;
  }
  .cattos .cattos__tab--slider {
    max-width: 95px;
    width: 100%;
  }
}

@media (max-width: 762px) {
  .cattos__content {
    flex-direction: column;
  }
  .cattos .cattos__tabBox {
    flex-wrap: wrap;
    justify-content: center;
    align-items: initial;
  }
  .cattos__tab {
    margin-bottom: 10px;
  }

  .cattos .cattos__tab--slider {
    margin: 10px 20px;
  }
}

@media (max-width: 576px) {
  .cattos__title {
    font-size: 30px;
  }
  .cattos__detail {
    font-size: 0.9rem;
  }
  .cattos__number {
    font-size: 1.9rem;
  }
  .cattos__cost {
    font-size: 1rem;
  }
}
